<!DOCTYPE html>
<head>
  <title>KumaStock</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<html>
  <body>
    <main>
      <div class="px-4 py-3 my-2 text-center">
        <h1 class="display-6 fw-bold text-primary">Welcome to KumaStock</h1>
      </div>
      <form method="post" action="{{url_for('index')}}">
        <div class="col-md-6 mx-auto text-center">
          <label for="name" class="form-label fw-bold fs-5">Could you please tell me the stock you are interested in?</label>

          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
            <input type="text" class="form-control" id="name" name="name" style="max-width: 256px" />
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
            <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Search</button>
          </div>
        </div>
      </form>
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div id="stockChart" class="px-4" style="height: 600px"></div>
          </div>
        </div>
      </div>
    </main>

    <script>
      const graphs = {{graphJSON | safe}};
      Plotly.plot("stockChart", graphs[0].data, graphs[0].layout);;
    </script>
  </body>
</html>
